<script lang="ts">
import Vue from "vue";
import { BreadCrumbs } from "../common/index.vue";
export default Vue.extend({
  components: {
    BreadCrumbs,
  },
  props: {
    tag: {
      type: String,
      required: true,
    },
  },
  data() {
    const crumbs = [
      { title: "Blog", href: "/blog/" },
      { title: this.tag, href: "" },
    ];
    return { crumbs };
  },
});
</script>

<template>
  <SlpContainer>
    <div class="categories-hero">
      <BreadCrumbs :crumbs="crumbs" />
      <SlpTypography variant="heading2-bold" tag="h1"
        >{{ $t('tagPage.header', { tag })}}</SlpTypography
      >
    </div>
  </SlpContainer>
</template>
