<script lang="ts">
import Vue from "vue";
import type { PropType } from "vue";
import { post } from "../../interfaces";
import { ImageUrlMixin, ParseUrlMixin } from "../../mixins/index";

export default Vue.extend({
  mixins: [ParseUrlMixin, ImageUrlMixin],
  props: {
    mainPost: {
      type: Object as PropType<post>,
      required: true,
    },
    featuredList: {
      type: Array as PropType<post[]>,
      required: true,
    },
  },
});
</script>

<template>
  <SlpContainer variant="charcoal-75" class="charcoal-background">
    <div class="hero-container">
      <div class="main-container">
        <div class="main-card">
          <SlpButton
            class="category"
            v-if="mainPost.fields.category?.fields"
            variant="tertiary"
          >
            <a
              :href="`/blog/categories/${mainPost.fields.category.fields.slug}`"
              v-if="mainPost?.fields?.category?.fields?.name"
            >
              {{ mainPost.fields.category.fields.name }}
            </a>
          </SlpButton>
          <a :href="parseUrl(mainPost)" class="body" v-if="mainPost">
            <img
              loading="lazy"
              :src="
                parseImageUrl(mainPost.fields.image?.fields.file.url, 580, 345)
              "
              :alt="mainPost.fields.image?.fields.title"
              v-if="mainPost?.fields?.image?.fields?.file?.url"
            />
            <SlpTypography
              variant="heading3-bold"
              v-if="mainPost?.fields?.title"
              >{{ mainPost.fields.title }}</SlpTypography
            >
            <SlpTypography
              variant="body1"
              v-if="mainPost?.fields?.description"
              >{{ mainPost.fields.description }}</SlpTypography
            >
          </a>
        </div>
      </div>
      <div class="list-container">
        <div
          class="list-card"
          v-for="post in featuredList"
          :key="post.fields.title"
        >
          <SlpButton
            class="category"
            v-if="post.fields.category?.fields"
            variant="tertiary"
          >
            <a
              :href="`/blog/categories/${post.fields?.category?.fields?.slug}`"
              v-if="post.fields?.category?.fields?.name"
            >
              {{ post.fields.category.fields.name }}
            </a>
          </SlpButton>
          <a :href="parseUrl(post)" class="body">
            <SlpTypography variant="heading5-bold" v-if="post.fields?.title">{{
              post.fields.title
            }}</SlpTypography>
            <SlpTypography variant="body1" v-if="post.fields?.description">{{
              post.fields.description
            }}</SlpTypography>
          </a>
        </div>
      </div>
    </div>
  </SlpContainer>
</template>

<style lang="scss" scoped>
.charcoal-background {
  background-image: linear-gradient(180deg, #fff 0 25%, #171321 25% 100%);
}
.hero-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  @media (min-width: $breakpoint-lg) {
    grid-template-columns: 1fr 1fr;
  }
  .main-container {
    .main-card {
      padding: 24px;
      border-radius: 8px;
      transition: 0.3s ease-out;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
      cursor: pointer;
      background: $color-surface-950;
      img {
        max-width: 100%;
        @media (min-width: $breakpoint-lg) {
          height: 345px;
          width: 580px;
          object-fit: cover;
        }
      }
      .body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        color: $color-text-300;
      }
      &:hover {
        border-bottom-right-radius: 50px;
      }
    }
  }
  .list-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    .list-card {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      cursor: pointer;
      padding: 24px 40px;
      background: white;
      border-radius: 8px;
      border: 1px solid $color-surface-200;
      background: #fff;
      transition: 0.3s ease-out;
      .body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        cursor: pointer;
        color: $color-text-300;
      }
      &:hover {
        border-bottom-right-radius: 50px;
        background: #f6f3fe;
      }
    }
  }
}
.category {
  color: $color-text-link-100;
}
</style>
