<script lang="ts">
import Vue from "vue";
import { MktoFrom } from "../common/index.vue";
export default Vue.extend({
  components: {
    MktoFrom,
  },
  data() {
    return {
      formData: {
        form_id: 1077,
        form_header: this.$t('homepage.newsLetter.header'),
        datalayer: "blog-subscription"
      },
    };
  },
});
</script>

<template>
  <SlpContainer variant="light-purple-100">
    <MktoFrom :data="formData" class="newsletter-form" />
  </SlpContainer>
</template>

<style lang="scss" scoped>
.newsletter-form {
  padding: 48px 0;
  &:deep(.form_container) {
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
    margin-bottom: 0;
  }
  &:deep(.form_header) {
    color: $color-text-300;

    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.96px;
    text-align: left;
  }
  &:deep(.required_label) {
    display: none;
  }
  &:deep(#LblEmail) {
    font-size: 16px;
    line-height: 20px;
    color: #000;
    font-weight: 400;
    margin-bottom: 8px;
    width: 100%;
  }
  &:deep(#LblCountry) {
    font-size: 16px;
    line-height: 20px;
    color: #000;
    font-weight: 400;
    margin-bottom: 8px;
    width: 100%;
  }
  &:deep(#Country) {
    width: 342px !important;
    margin-right: 16px;
    @media (max-width: $breakpoint-lg) {
      width: 100% !important;
    }
  }
  &:deep(.mktoGutter.mktoHasWidth) {
    display: none;
  }
  &:deep(.mktoOffset.mktoHasWidth) {
    display: none;
  }
  &:deep(.mktoHtmlText.mktoHasWidth) {
    color: var(--slp-color-text-300, #171321);
    margin-top: 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  &:deep(.mktoField.mktoEmailField) {
    @media (min-width: $breakpoint-lg) {
      width: 342px !important;
      margin-right: 16px;
    }
    height: 44px;
  }
  &:deep(.mktoFieldWrap.mktoRequiredField) {
    display: flex;
    flex-direction: column;
  }
  &:deep(.mktoErrorMsg) {
    color: red !important;
  }
  &:deep(.mktoInvalid) {
    border: 1px solid red !important;
  }
  &:deep(.mktoButton) {
    width: 174px !important;
  }
  &:deep(.mktoForm) {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
    .mktoFormRow {
      &:nth-of-type(1),
      &:nth-of-type(2) {
        flex: 1 0 100%;
        width: 100%;
        @media (min-width: $breakpoint-md) {
          flex: 0 0 50%;
          width: 50%;
          max-width: 360px;
        }
      }
      &:nth-of-type(1) {
        margin-right: 16px;
      }
    }
    .mktoButton {
      margin-bottom: 0;
    }
  }
}
</style>
