<script lang="ts">
import Vue from "vue";
import { post } from "../../interfaces";
import type { PropType } from "vue";
import { ImageUrlMixin, ParseUrlMixin } from "../../mixins/index";
export default Vue.extend({
  mixins: [ParseUrlMixin, ImageUrlMixin],
  props: {
    headerText: {
      type: String,
      required: false,
      default(){
        return this.$t('blogPost.explore.header')
      },
    },
    ctaText: {
      type: String,
      required: false,
      default(){
        return this.$t('blogPost.explore.cta')
      },
    },
    readMoreText: {
      type: String,
      required: false,
      default(){
        return this.$t('blogPost.explore.readMore')
      },
    },
    posts: {
      type: Array as PropType<post[]>,
      required: true,
    },
  },
});
</script>

<template>
  <div class="wrapper">
    <div class="header">
      <SlpTypography variant="heading2-bold" tag="h2" v-if="headerText">{{
        headerText
      }}</SlpTypography>
      <SlpButton
        variant="tertiary"
        class="header-cta"
        href="/blog/"
        data-ga-location="resources"
        :data-ga-name="ctaText"
        v-if="ctaText"
      >
        {{ ctaText }} <SlpIcon name="chevron-right" variant="product" />
      </SlpButton>
    </div>
    <div class="cards">
      <a
        class="card"
        v-for="post in posts"
        :key="post.fields.title"
        data-ga-location="resources"
        :data-ga-name="post.fields.title"
        :href="parseUrl(post)"
      >
        <div v-if="post.fields?.category?.fields?.name" class="category">
          <SlpIcon name="blog" variant="marketing" />
          <SlpTypography
            variant="body2"
            v-if="post.fields?.category?.fields?.name"
            >{{ post.fields?.category?.fields?.name }}</SlpTypography
          >
        </div>
        <img
          v-if="post.fields?.image?.fields?.file?.url"
          :src="parseImageUrl(post.fields.image?.fields?.file.url, 318, 222)"
          :alt="post.fields.image?.fields.title"
        />
        <SlpTypography
          variant="heading5-bold"
          tag="h4"
          class="title"
          v-if="post.fields?.title"
          >{{ post.fields.title }}</SlpTypography
        >
        <SlpButton variant="tertiary" v-if="readMoreText"
          >{{ readMoreText }} <SlpIcon name="chevron-right" variant="product" />
        </SlpButton>
      </a>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.wrapper {
  margin: 64px auto;
  @media (min-width: $breakpoint-lg) {
    margin: 96px auto;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  @media (max-width: $breakpoint-lg) {
    flex-direction: column;
  }
  &-cta {
    white-space: nowrap;
  }
}
.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  @media (min-width: $breakpoint-lg) {
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    color: $color-text-300;
    padding: 16px;
    .title {
      flex-basis: 100%;
    }
    .category {
      display: flex;
      gap: 8px;
      align-items: center;
    }
    img {
      width: 318px;
      height: 222px;
      min-height: 222px;
      object-fit: cover;
      @media (max-width: $breakpoint-lg) {
        max-width: 100%;
      }
    }
    &:hover {
      background-color: #f6f3fe;
      transition: background 0.3s ease, border-radius 0.3s ease !important;
      border-radius: 8px 8px 50px 8px;
    }
  }
}
</style>
