<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  props: {
    header: {
      type: String,
      required: false,
      default() {
        return this.$t("blogPost.CTA.header");
      },
    },
    description: {
      type: String,
      required: false,
      default() {
        return this.$t("blogPost.CTA.description");
      },
    },
    cta: {
      type: Object,
      required: false,
      default() {
        return {
          text: this.$t("blogPost.CTA.link"),
          href: "https://forum.gitlab.com/new-topic?title=GitLab%20account%20security:%20Verify%20your%20information%20for%20enhanced%20protection&body=&tags=blog-feedback",
        };
      },
    },
  },
});
</script>

<template>
  <div class="contact-cta-container">
    <SlpIcon name="idea-collaboration" variant="marketing" size="md" />
    <SlpTypography variant="heading3-bold" tag="h3" v-if="header">{{
      header
    }}</SlpTypography>
    <SlpTypography variant="heading5" v-if="description">{{
      description
    }}</SlpTypography>
    <SlpButton
      variant="tertiary"
      :href="cta.href"
      data-ga-location="contact"
      :data-ga-name="cta.text"
      v-if="cta.text"
      >{{ cta.text }}<SlpIcon name="chevron-right" variant="product"
    /></SlpButton>
  </div>
</template>

<style lang="scss" scoped>
.contact-cta-container {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 4px 4px 64px 4px;
  margin: 64px 0;
  background: $color-surface-800;
  @media (min-width: $breakpoint-lg) {
    margin: 96px 0;
  }
}
</style>
