<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  props: {
    backgroundClass: {
      type: String,
      default: "",
    },
  },
});
</script>

<template>
  <SlpContainer
    variant="charcoal-75"
    class="half-charcoal"
    :class="backgroundClass"
  >
    <div class="get-started">
      <div class="free-trial">
        <SlpTypography variant="heading4-bold" tag="h4" class="header"
          >{{$t('nextSteps.header')}}</SlpTypography
        >
        <SlpTypography variant="body1" tag="p" class="description"
          >{{$t('nextSteps.text')}}</SlpTypography
        >
        <SlpButton
          variant="secondary"
          href="https://gitlab.com/-/trial_registrations/new?glm_content=default-saas-trial&amp;glm_source=about.gitlab.com"
          class="free-trial-cta"
        >
        {{$t('nextSteps.button')}}
        </SlpButton>
      </div>
      <div class="guide">
        <SlpIcon variant="marketing" name="docs" color="FFFFFF" size="md" />
        <SlpTypography variant="body1" tag="p" class="description"
          >{{$t('nextSteps.getStarted.text')}}</SlpTypography
        >
        <SlpButton href="/get-started/" variant="tertiary" class="cta-button">
          {{$t('nextSteps.getStarted.button')}} <SlpIcon name="chevron-right" variant="product" />
        </SlpButton>
      </div>
      <div class="contact">
        <SlpIcon
          variant="marketing"
          name="support-bold"
          color="FFFFFF"
          size="md"
        />
        <SlpTypography variant="body1" tag="p" class="description"
          >{{$t('nextSteps.contact.text')}}</SlpTypography
        >
        <SlpButton href="/sales/" variant="tertiary" class="cta-button">
          {{$t('nextSteps.contact.button')}} <SlpIcon name="chevron-right" variant="product" />
        </SlpButton>
      </div>
    </div>
  </SlpContainer>
</template>

<style lang="scss" scoped>
.get-started {
  display: flex;
  padding: 64px 96px;
  color: white;
  align-items: flex-start;
  gap: 32px;
  margin-bottom: 96px;
  border-radius: 12px;
  border: 1px solid var(--slp-color-surface-500, #74717a);
  background: var(--slp-color-surface-700, #171321);
  @media (max-width: $breakpoint-lg) {
    flex-direction: column;
    padding: 32px 24px;
  }
  .header {
    background: linear-gradient(
      122deg,
      #feb484 4.62%,
      #a686f2 33.52%,
      #592ac8 59.07%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.free-trial {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
  .description {
    margin-bottom: 8px;
  }
}
.guide,
.contact {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 16px;
}
.description {
  flex-basis: 100%;
}
.half-charcoal {
  background-image: linear-gradient(
    to bottom,
    $color-surface-50 0% 50%,
    $color-primary-200 50% 100%
  );
}
.half-purple {
  margin-top: 0;
  background-image: linear-gradient(
    to bottom,
    $color-surface-800 0% 50%,
    $color-primary-200 50% 100%
  ) !important;
}
.cta-button {
  color: white;
}
.free-trial-cta {
  max-width: 140px;
  white-space: nowrap;
}
</style>
