<script lang="ts">
import Vue from "vue";
import type { PropType } from "vue";
import { post } from "~/interfaces";
import { ImageUrlMixin, ParseUrlMixin } from "~/mixins";
export default Vue.extend({
  mixins: [ParseUrlMixin, ImageUrlMixin],
  props: {
    post: {
      type: Object as PropType<post>,
      required: true,
    },
  },
});
</script>

<template>
  <div class="card">
    <SlpTypography
      tag="a"
      v-if="post.fields.category?.fields"
      :href="`/blog/categories/${post.fields.category.fields.slug}/`"
    >
      {{ post.fields.category.fields.name }}</SlpTypography
    >
    <a :href="parseUrl(post)" class="card-body">
      <img
        loading="lazy"
        :src="parseImageUrl(post.fields.image?.fields.file.url, 318, 222)"
        :alt="post.fields.image?.fields.title"
        v-if="post.fields?.image?.fields?.file?.url"
      />
      <SlpTypography
        variant="heading5-bold"
        tag="h3"
        v-if="post.fields?.title"
        >{{ post.fields.title }}</SlpTypography
      >
      <SlpTypography variant="body1" tag="p" v-if="post.fields?.description">
        {{ post.fields.description }}
      </SlpTypography>
    </a>
  </div>
</template>

<style lang="scss" scoped>
.card,
.card-body {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.card-body {
  color: $color-text-300;
}
.card {
  padding: 16px;
  img {
    width: 318px;
    min-height: 222px;
    height: 222px;
    object-fit: cover;
    @media (max-width: $breakpoint-lg) {
      max-width: 100%;
    }
  }
  &:hover {
    background-color: #f6f3fe;
    transition: background 0.3s ease, border-radius 0.3s ease !important;
    border-radius: 8px 8px 50px 8px;
  }
}
</style>
