<script>
import Vue from "vue";
import { getClient } from "~/plugins/contentful.js";
import { CONTENT_TYPES } from "../../contentful-types";
import { Hero, FeaturedPost } from "../../components/categories/index.vue";
import {
  PostGrid,
  GetStarted,
  Pagination,
} from "../../components/common/index.vue";
import { NewsLetterForm } from "~/components/home/index.vue";
import { CONFIDENTIAL_TAG } from "~/common/constants.ts";
import {createMeta} from "../../common/meta";

export default Vue.extend({
  components: {
    Hero,
    NewsLetterForm,
    FeaturedPost,
    PostGrid,
    GetStarted,
    Pagination,
  },
  data() {
    return {
      currentPage: 1,
      posts: [],
    };
  },
  async asyncData({ params }) {
    try {
      const { category } = params;
      const postsPerPage = 9;
      let totalPosts = 0;
      let allPosts = [];
      let skip = 0;
      let limit = 90;
      const { items } = await getClient().getEntries({
        content_type: CONTENT_TYPES.BLOG_CATEGORIES,
        "fields.slug[match]": category,
        order: "fields.name",
        limit: 1,
      });
      const categoryEntry = items[0];

      do {
        const response = await getClient().getEntries({
          content_type: CONTENT_TYPES.BLOG_POST,
          "fields.category.sys.id": categoryEntry.sys.id,
          "metadata.tags.sys.id[nin]": CONFIDENTIAL_TAG,
          order: "-fields.date",
          limit,
          skip,
        });

        totalPosts = response.total;
        skip += limit;
        allPosts = allPosts.concat(response.items);
      } while (allPosts.length < totalPosts);
      const featuredPost = allPosts.shift();
      const totalPages = Math.ceil(totalPosts / postsPerPage);
      const posts = allPosts.slice(0, postsPerPage);
      return {
        categoryEntry,
        allPosts,
        featuredPost,
        totalPages,
        posts,
        postsPerPage,
      };
    } catch (e) {
      throw new Error(e);
    }
  },
  head() {
    let path;
    path = this.$route.path;
    const {name, image, seoTitle, seoDescription} = this.categoryEntry.fields;
    const imageUrl = image?.fields?.file?.url;
    const title = seoTitle ? seoTitle : `GitLab Blog Categories | ${name}`;
    const description = seoDescription ? seoDescription : `Browse articles related to ${name} on the GitLab Blog`;

    return {
      title,
      description,
      meta: createMeta({title, description, imageUrl})
    };
  },
  methods: {
    onPageChange(page) {
      const skip = this.postsPerPage * (page - 1);
      this.currentPage = page;
      this.$refs.targetRef.scrollIntoView({ behavior: "smooth" });
      this.isLoading = true;
      this.posts = this.allPosts.slice(skip, this.postsPerPage * page);
    },
  },
});
</script>

<template>
  <div ref="targetRef">
    <Hero :category="categoryEntry.fields.name" v-if="categoryEntry.fields?.name" />
    <FeaturedPost :post="featuredPost" v-if="featuredPost" />
    <PostGrid :posts="posts" v-if="posts"/>
    <Pagination
      :totalPages="totalPages"
      :currentPage="currentPage"
      @pageChange="onPageChange"
    />
    <NewsLetterForm />
    <GetStarted class="slp-mt-64" />
  </div>
</template>
