<script lang="ts">
import Vue from "vue";
import { BreadCrumbs } from "../common/index.vue";
export default Vue.extend({
  components: {
    BreadCrumbs,
  },
  props: {
    category: {
      type: String,
      required: true,
    },
  },
  data() {
    const crumbs = [
      { title: "Blog", href: "/blog/" },
      { title: this.category, href: "" },
    ];
    return { crumbs };
  },
});
</script>

<template>
  <SlpContainer>
    <div class="categories-hero">
      <BreadCrumbs :crumbs="crumbs" v-if="crumbs" />
      <SlpTypography variant="heading2-bold" tag="h1"
        >Browse articles from {{ category }}</SlpTypography
      >
    </div>
  </SlpContainer>
</template>
