<script lang="ts">
import Vue from "vue";
import type { PropType } from "vue";
import { post } from "../../interfaces";
import { ImageUrlMixin, ParseUrlMixin } from "~/mixins";
export default Vue.extend({
  mixins: [ParseUrlMixin, ImageUrlMixin],
  props: {
    post: {
      type: Object as PropType<post>,
      required: true,
    },
  },
});
</script>

<template>
  <SlpContainer>
    <div class="featured-post" v-if="post">
      <div class="image" v-if="post.fields?.image?.fields?.file?.url">
        <img
          v-if="post.fields?.image?.fields?.file?.url"
          :src="parseImageUrl(post.fields.image?.fields.file.url, 440, 560)"
          :alt="post.fields.image?.fields.title"
        />
      </div>
      <div class="text">
        <SlpTypography variant="heading4-bold" v-if="post.fields?.title">{{
          post.fields.title
        }}</SlpTypography>
        <SlpTypography variant="heading5" v-if="post.fields?.description">{{
          post.fields.description
        }}</SlpTypography>
        <SlpTypography
          class="author"
          variant="body3-bold"
          v-if="post.fields?.authors?.length"
          >{{ post.fields.authors.length > 1 ? "Authors" : "Author" }}:
          {{
            post.fields.authors.map((author) => author.fields.name).join(", ")
          }}</SlpTypography
        >
        <SlpButton class="cta" :href="parseUrl(post)">{{$t('tagPage.cta')}}</SlpButton>
      </div>
    </div>
  </SlpContainer>
</template>

<style lang="scss" scoped>
.featured-post {
  display: flex;
  gap: 32px;
  margin: 48px 0;
  flex-direction: column;
  background: $color-surface-800;
  border-radius: 0 0 80px 0;
  @media (min-width: $breakpoint-lg) {
    flex-direction: row;
  }
  .text {
    padding: 40px 32px;
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    .author {
      flex-basis: 100%;
    }
    .cta {
      inline-size: max-content;
    }
  }
  .image img {
    flex-shrink: 0;
    width: 100%;
    @media (min-width: $breakpoint-lg) {
      width: 560px;
      height: 100%;
      object-fit: cover;
    }
  }
}
</style>
