<script>
import Vue from "vue";
import { getClient } from "~/plugins/contentful.js";
import { CONTENT_TYPES } from "~/contentful-types";
import { CONFIDENTIAL_TAG } from "~/common/constants.ts";
import {
  Hero,
  PostBody,
  Quote,
  ShareWrapper,
  CTA,
} from "~/components/post/index.vue";
import {
  Resources,
  ContactCta,
  GetStarted,
} from "~/components/common/index.vue";
import { PreviewMixin } from "~/mixins";
import hljs from "highlight.js";

export default Vue.extend({
  components: {
    Hero,
    PostBody,
    Resources,
    ContactCta,
    GetStarted,
    Quote,
    ShareWrapper,
    CTA,
  },
  mixins: [PreviewMixin],
  data() {
    return {
      post: null,
    };
  },
  fetchOnServer: false,
  async fetch() {
    try {
      const options = {
        content_type: CONTENT_TYPES.BLOG_POST,
        limit: 1,
        include: 5,
        "metadata.tags.sys.id[nin]": CONFIDENTIAL_TAG, // Exclude entries with the Confidential tag
      };
      if (!this.$route.query.previewSlug) {
        return;
      }

      options["fields.previewSlug"] = this.$route.query.previewSlug;
      options["locale"] = this.$route.query.locale;

      const config = {
        accessToken: this.$config.preview,
        space: this.$config.space,
        host: "preview.contentful.com",
      };

      const entries = await getClient(config).getEntries(options);
      if (entries && entries.items.length) {
        this.post = entries.items[0];
      }
    } catch (e) {
      console.log(e);
    }
  },
  updated() {
    this.highlightCode();
  },
  methods: {
    highlightCode() {
      hljs.highlightAll();
    },
  },
});
</script>

<template>
  <client-only>
    <div class="overflow-container" v-if="!$fetchState.pending">
      <Hero :post="post" />
      <SlpContainer>
        <ShareWrapper :is-preview="true" :post="post">
          <PostBody :post="post" :is-preview="isPreview" />
          <Quote v-if="post.fields.quote" :quote="post.fields.quote" />
          <CTA v-if="post.fields.cta" :cta="post.fields.cta" />
        </ShareWrapper>
        <ContactCta />
      </SlpContainer>
      <GetStarted />
    </div>
  </client-only>
</template>

<style lang="scss" scoped>
.overflow-container {
  overflow-x: clip;
}
</style>
