<script lang="ts">
import Vue from "vue";
import type { PropType } from "vue";
import { cta } from "../../interfaces";
export default Vue.extend({
  props: {
    cta: {
      type: Object as PropType<cta>,
      required: true,
    },
  },
});
</script>

<template>
  <div class="cta-container">
    <SlpTypography variant="heading4-bold" tag="h3" v-if="cta.fields?.header">{{
      cta.fields.header
    }}</SlpTypography>
    <SlpTypography variant="body1" tag="p" v-if="cta.fields?.description">
      {{ cta.fields.description }}</SlpTypography
    >
    <SlpButton
      :variant="cta.fields.button.fields.variant"
      :href="cta.fields.button.fields.href" v-if="cta.fields?.button?.fields?.text"
    >
      {{ cta.fields.button.fields.text }}
      <SlpIcon
        class="slp-ml-8"
        :name="cta.fields.button.fields.iconName"
        :variant="cta.fields.button.fields.iconVariant"
        v-if="cta.fields?.button?.fields?.iconName"
    /></SlpButton>
  </div>
</template>

<style lang="scss" scoped>
.cta-container {
  margin: 40px 0;
  display: flex;
  padding: 24px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  border-radius: 4px;
  background: $color-surface-800;
}
</style>