<script lang="ts">
import Vue from "vue";
import type { PropType } from "vue";
import { BreadCrumbs } from "../common/index.vue";
import { post } from "../../interfaces";
import { ImageUrlMixin } from "~/mixins";
export default Vue.extend({
  mixins: [ImageUrlMixin],
  components: { BreadCrumbs },
  props: {
    post: {
      type: Object as PropType<post>,
      required: true,
    },
    crumbs: {
      type: Array as any,
      required: true,
    },
    readingTime: {
      type: Number,
      required: true,
    },
  },
  data() {
    const date = new Date(this.post.fields.date.replace(/-/g, "\/"));

    const month = date.toLocaleString("en-US", { month: "long" });
    const day = date.getDate();
    const year = date.getFullYear();

    // Format the date in the 'Month Day, Year' format
    const formattedDate = `${month} ${day}, ${year}`;

    return {
      formattedDate,
    };
  },
});
</script>

<template>
  <SlpContainer class="container">
    <div class="wrapper">
      <div class="hero">
        <BreadCrumbs :crumbs="crumbs" v-if="crumbs" />
        <div class="date">
          <SlpTypography variant="body2" v-if="formattedDate">{{
            formattedDate
          }}</SlpTypography>
          <div class="pill">
            <SlpTypography variant="body3" v-if="readingTime"
              >{{$t('blogPost.timeToRead', {time: readingTime})}}</SlpTypography
            >
          </div>
        </div>
        <SlpTypography
          variant="heading2-bold"
          tag="h1"
          v-if="post.fields.title"
          >{{ post.fields.title }}</SlpTypography
        >
        <SlpTypography variant="body1" tag="p" v-if="post.fields.description">{{
          post.fields.description
        }}</SlpTypography>
        <img
          v-if="post.fields?.image?.fields?.file?.url"
          :src="parseImageUrl(post.fields.image?.fields.file.url, 820, 500)"
          :alt="post.fields.image?.fields.title"
        />
      </div>
      <div class="information">
        <div
          class="author"
          v-for="author in post.fields.authors"
          :key="author.fields.name"
        >
          <img
            loading="lazy"
            v-if="author.fields.headshot"
            :src="parseImageUrl(author.fields.headshot.fields.file.url, 80, 80)"
            :alt="author.fields.headshot.fields.title"
          />
          <SlpTypography
            tag="a"
            variant="body1"
            v-if="author?.fields?.name"
            :href="`/blog/authors/${`${author.sys.id}/` || ''}`"
            >{{ author.fields.name }}</SlpTypography
          >
        </div>
        <div class="tags" v-if="post.fields.tags?.length">
          <a
            class="pill"
            v-for="tag in post.fields.tags"
            :key="tag"
            :href="`/blog/tags/${tag.replace('/', '_').replace(' ', '-')}/`"
            ><SlpTypography variant="body3">{{ tag }}</SlpTypography></a
          >
        </div>
      </div>
    </div>
  </SlpContainer>
</template>

<style lang="scss" scoped>
.wrapper {
  padding-top: 32px;
  display: grid;
  gap: 64px;
  grid-template-columns: 70% 30%;
  @media (max-width: $breakpoint-lg) {
    grid-template-columns: 1fr;
  }
  .hero {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .date {
      display: flex;
      align-items: center;
      gap: 8px;
    }
    img {
      width: 100%;
      object-fit: cover;
      margin-top: 24px;
      max-height: 500px;
    }
  }

  .information {
    padding-top: 64px;
    @media (min-width: $breakpoint-lg) {
      padding-top: 88px;
    }
    display: flex;
    flex-direction: column;
    gap: 24px;
    .author {
      display: flex;
      align-items: center;
      gap: 8px;
      img {
        width: 80px;
        height: 80px;
        border-radius: 80px;
        object-fit: contain;
      }
    }
    .tags {
      display: flex;
      gap: 8px;
      flex-wrap: wrap;
      // .pill {
      //   cursor: pointer;
      // }
    }
  }
}

.container {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -40%;
    width: 140vw;
    height: 60%;
    @media (min-width: $breakpoint-lg) {
      height: 75%;
    }
    background: linear-gradient(
      126deg,
      #eee7fd 0%,
      rgba(246, 243, 254, 0.83) 49.71%,
      rgba(255, 212, 216, 0.45) 100%
    );
    z-index: -1;
    @media (min-width: 2100px) {
      left: -60%;
    }
  }
}
.pill {
  padding: 4px 16px;
  border-radius: 20px;
  border: 1px solid $color-surface-300;
  background: $color-surface-50;
  display: inline-block;
}
</style>
