<script lang="ts">
import Vue from "vue";
import type { PropType } from "vue";
import { post } from "../../interfaces";
import { ParseUrlMixin } from '../../mixins/index'
export default Vue.extend({
  props: {
    posts: {
      type: Array as PropType<post[]>,
      required: true,
    },
  },
  mixins: [ParseUrlMixin]
});
</script>

<template>
  <div class="list-container">
    <div class="blog-post" v-for="post in posts" :key="post.fields.title">
      <SlpTypography class="title" tag="a" :href="parseUrl(post)">{{ post.fields.title }}</SlpTypography> - <SlpTypography class="author" v-for="author in post.fields.authors" :key="author.fields.name">{{ author.fields.name }}</SlpTypography>
      <SlpTypography class="date">{{ post.fields.date }}</SlpTypography>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.list-container{
  display: flex;
  flex-direction: column;
  margin: 64px 0;
  .blog-post{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 16px;
    padding: 16px;
    border-bottom: 1px solid black;
    .title, .author {
      flex-basis: 100%;
    }
    .date {
      white-space: nowrap;
    }
    &:first-child{
      border-top: 1px solid black;
    }
  }
}
</style>
