<script>
import Vue from "vue";
import { getClient } from "~/plugins/contentful.js";
import { CONTENT_TYPES } from "../../contentful-types";
import { FeaturedPost } from "../../components/categories/index.vue";
import { Hero } from "../../components/tags/index.vue";
import {
  PostGrid,
  GetStarted,
  Pagination,
} from "../../components/common/index.vue";
import { NewsLetterForm } from "~/components/home/index.vue";

export default Vue.extend({
  components: {
    Hero,
    NewsLetterForm,
    FeaturedPost,
    PostGrid,
    GetStarted,
    Pagination,
  },
  data() {
    return {
      selectedTag: "",
      currentPage: 1,
      posts: [],
    };
  },
  async asyncData({ params, error, redirect }) {
    try {
      const tag = params.tag.replace("_", "/").replace("-", " ");
      const postsPerPage = 9;
      let totalPosts = 0;
      let allPosts = [];
      let skip = 0;
      let limit = 90;

      do {
        const response = await getClient().getEntries({
          content_type: CONTENT_TYPES.BLOG_POST,
          "fields.tags": tag,
          order: "-fields.date",
          limit,
          skip,
        });
        totalPosts = response.total;
        skip += limit;
        allPosts = allPosts.concat(response.items);
      } while (allPosts.length < totalPosts);

      if (!allPosts.length) {
        throw new Error("No posts contain this tag");
      }
      const featuredPost = allPosts.shift();
      const totalPages = Math.ceil(totalPosts / postsPerPage);
      const posts = allPosts.slice(0, postsPerPage);
      return {
        selectedTag: tag,
        posts,
        featuredPost,
        totalPages,
        allPosts,
        postsPerPage,
      };
    } catch (e) {
      redirect("/");
    }
  },
  head() {
    let path;
    path = this.$route.path;
    const name = this.selectedTag;
    const image = this.featuredPost.fields.image.fields.file.url;

    return {
      title: `GitLab Blog Tags | ${name}`,
      description: `Browse articles that include the ${name} tag on the GitLab Blog`,
      meta: [
        {
          hid: "og:title",
          name: "og:title",
          content: `GitLab Blog Categories | ${name}`,
        },
        {
          hid: "og:description",
          name: "og:description",
          content: `Browse articles related to ${name} on the GitLab Blog`,
        },
        {
          hid: "og:image",
          name: "og:image",
          content: image,
        },
        {
          hid: "twitter:title",
          name: "twitter:title",
          content: `GitLab Blog Categories | ${name}`,
        },
        {
          hid: "twitter:description",
          name: "twitter:description",
          content: `Browse articles related to ${name} on the GitLab Blog`,
        },
        {
          hid: "twitter:image",
          name: "twitter:image",
          content: image,
        },
      ],
    };
  },
  methods: {
    onPageChange(page) {
      const skip = this.postsPerPage * (page - 1);
      this.currentPage = page;
      this.$refs.targetRef.scrollIntoView({ behavior: "smooth" });
      this.isLoading = true;
      this.posts = this.allPosts.slice(skip, this.postsPerPage * page);
    },
  },
});
</script>

<template>
  <div ref="targetRef">
    <Hero :tag="selectedTag" />
    <FeaturedPost :post="featuredPost" />
    <PostGrid :posts="posts" />
    <Pagination
      :totalPages="totalPages"
      :currentPage="currentPage"
      @pageChange="onPageChange"
    />
    <NewsLetterForm />
    <GetStarted class="slp-mt-64" />
  </div>
</template>
