<script lang="ts">
import Vue from "vue";
import type { PropType } from "vue";
import { post } from "../../interfaces";
import {
  PostGrid,
  Pagination,
  LoadingSpinner,
} from "~/components/common/index.vue";

export default Vue.extend({
  name: "AuthorTabs",
  components: {
    PostGrid,
    Pagination,
    LoadingSpinner,
  },
  props: {
    tabs: {
      type: Array as PropType<post[]>,
      required: false,
    },
    info: {
      type: Object,
      required: false,
    },
    pagination: {
      type: Object,
      required: false,
    },
    isLoading: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      firstTab: null,
      lastTab: null,
      tabpanels: [],
      selectedTab: 0,
    };
  },
  computed: {
    showPagination() {
      return this.pagination.totalPosts > this.pagination.perPage;
    },
  },
  methods: {
    onTabChange(value: number) {
      this.selectedTab = value;
    },
  },
});
</script>

<template>
  <section class="author-tabs">
    <SlpContainer>
      <div class="author-tabs__wrapper" ref="targetRef">
        <div
          class="author-tabs__tabs"
          role="tablist"
          aria-labelledby="tablist-1"
          v-if="tabs.length"
        >
          <SlpButton
            v-for="(tab, tabIndex) in tabs"
            :id="`author-tabs-tab-${tabIndex}`"
            :key="tab.header"
            ref="tab"
            variant="ghost"
            type="button"
            role="tab"
            :aria-selected="selectedTab == tabIndex"
            :aria-controls="`author-tabs-tabpanel-${tabIndex}`"
            class="author-tabs__tab"
            :class="selectedTab == tabIndex ? 'author-tabs__tab--active' : ''"
            :data-ga-name="tab.data_ga_name"
            :data-ga-location="tab.data_ga_location"
            @click.native="onTabChange(tabIndex)"
          >
            <SlpTypography variant="body1" tag="h3" v-if="tab.header">{{
              tab.header
            }}</SlpTypography>
          </SlpButton>
        </div>

        <div
          v-for="(content, index) in tabs"
          v-show="index === selectedTab"
          :id="`author-tabs-tabpanel-${index}`"
          :key="`tab-content-${index}`"
          role="tabpanel"
          tabindex="0"
          :aria-labelledby="`author-tabs-tab-${index}`"
          class="author-tabs__content"
          :class="selectedTab == index ? 'author-tabs__content--active' : ''"
        >
          <div v-if="content.posts">
            <LoadingSpinner v-if="isLoading" :is-loading="isLoading" />
            <PostGrid v-else :posts="content.posts" />
            <Pagination
              v-if="showPagination"
              :current-page="pagination.currentPage"
              :total-pages="pagination.total"
              v-on="$listeners"
            />
          </div>
          <div
            v-if="content.bio || content.socials"
            class="author-tabs__content"
          >
            <SlpRow class="slp-justify-content-between">
              <SlpColumn :cols="8" v-if="content.bio">
                <div
                  v-if="content.bio"
                  class="body"
                  :class="content.socials ? 'slp-mb-24' : ''"
                  v-html="$md.render(content.bio)"
                ></div
              ></SlpColumn>
              <SlpColumn :cols="content.bio ? 3 : 12">
                <div v-if="content.socials" class="author-tabs__socials">
                  <SlpTypography variant="body1-bold" tag="h3"
                    >Connect with {{ info.name }}</SlpTypography
                  >

                  <div class="slp-flex slp-mt-24">
                    <div v-if="content.socials.twitter" class="slp-mr-24">
                      <a :href="content.socials.twitter">
                        <img
                          src="https://images.ctfassets.net/r9o86ar0p03f/2BYhQwvU82cFDisA8jlesF/b2ce67ba0c62e8782b68ea2a1e5cf3e4/twitter.svg"
                          alt="twiter"
                        />
                      </a>
                    </div>
                    <div v-if="content.socials.linkedin" class="slp-mr-24">
                      <a :href="content.socials.linkedin">
                        <img
                          src="https://images.ctfassets.net/r9o86ar0p03f/3xmFvfzlZvfxZshnWzPsHb/2b54ae2a2345e23ea5a000f582941a8a/linkedin.svg"
                          alt="linkedin"
                        />
                      </a>
                    </div>
                    <div v-if="content.socials.facebook" class="slp-mr-24">
                      <a :href="content.socials.facebook">
                        <img
                          src="https://images.ctfassets.net/r9o86ar0p03f/2CJEUO4gDZcI1FvwWiQdsf/63d3bf05e5c199ae4e09670b5e54b983/facebook.svg"
                          alt="facebook"
                        />
                      </a>
                    </div>
                    <div v-if="content.socials.hackerNews" class="slp-mr-24">
                      <a :href="content.socials.hackerNews">
                        <img
                          src="https://images.ctfassets.net/r9o86ar0p03f/2aY4maRF3ASuJmMi8x1hqo/729dfed40c60f036c9225757857f6623/hackernews.svg"
                          alt=""
                        />
                      </a>
                    </div>
                    <div v-if="content.socials.threads" class="slp-mr-24">
                      <a :href="content.socials.threads">
                        <img
                          src="https://images.ctfassets.net/r9o86ar0p03f/2fMIkyZeJPULdg8nxYdmsG/b3751a982a7401aeb74d4d6d4226c591/threads.svg"
                          alt=""
                        />
                      </a>
                    </div>
                  </div>
                </div>
              </SlpColumn>
            </SlpRow>
          </div>
        </div>
      </div>
    </SlpContainer>
  </section>
</template>

<style lang="scss" scoped>
.author-tabs {
  &__tabs {
    border-bottom: 1px solid #d1d0d3;
  }
  &__tab {
    position: relative;
    overflow: hidden;
    border-radius: 0px;
    padding: 24px;
    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 3px;
      background: #7759c2;
      bottom: 0;
      transform: translateX(-100%);
      left: 0;
      transition: all 0.3s ease;
    }
  }
  &__tab--active {
    h3 {
      font-weight: 600;
    }
    &:before {
      transform: translateX(0%);
    }
  }
  &__content {
    padding: 24px 0;
  }
  :deep {
    .recent-posts {
      margin-top: 0;
    }
  }
  .body {
    :deep p {
      margin: 16px auto;
    }
  }
}
</style>
