<script lang="ts">
import Vue from "vue";
import { BreadCrumbs } from "../common/index.vue";
export default Vue.extend({
  name: "AuthorHero",
  components: {
    BreadCrumbs,
  },
  props: {
    author: {
      type: Object,
      required: false,
    },
  },
  data() {
    const crumbs = [
      { title: "Blog", href: "/blog/" },
      { title: this.author.name },
    ];
    return { crumbs };
  },
});
</script>

<template>
  <SlpContainer>
    <div class="author-hero">
      <BreadCrumbs :crumbs="crumbs" v-if="crumbs" />
      <div class="author-hero__card">
        <div class="author-hero__headshot">
          <img
            :src="author.headshot.src"
            :alt="author.headshot.alt"
            v-if="author.headshot?.src"
          />
        </div>
        <div class="author-hero__info">
          <div>
            <SlpTypography variant="heading2-bold" v-if="author.name">
              {{ author.name }}</SlpTypography
            >
          </div>
          <div class="slp-mt-8">
            <SlpTypography variant="body1-bold" tag="span">
              <SlpLink
                v-if="author.gitlab"
                :href="`https://gitlab.com/${author.gitlab || ''}`"
                >@{{ author.gitlab }}</SlpLink
              >
            </SlpTypography>
            <SlpTypography
              v-if="author.role"
              variant="body1"
              tag="span"
              class="author-hero__role"
              >| {{ author.role }}
            </SlpTypography>
          </div>
        </div>
      </div>
    </div>
  </SlpContainer>
</template>

<style lang="scss">
.author-hero {
  position: relative;
  display: block;
  padding: 32px 0;
  &:before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(
      90deg,
      #eee7fd 2.53%,
      rgba(246, 243, 254, 0.83) 50.98%,
      rgba(255, 212, 216, 0.45) 100%
    );
    left: 50%;
    transform: translateX(-50%);
  }
  * {
    position: relative;
  }
  &__card {
    display: flex;
    align-items: center;
  }
  &__headshot {
    flex: 0 0 124px;
    width: 124px;
    height: 124px;
    border-radius: 100%;
    overflow: hidden;
    background: #fff;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__info {
    margin-left: 32px;
  }
}
</style>
